In [1]:
pip install -U pandasql

Requirement already satisfied: pandasql in c:\users\asus\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in c:\users\asus\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from pandasql) (1.18.1)
Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (from pandasql) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas->pandasql) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.13.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

# Data Pre-process

In [2]:
import pandas as pd
import numpy as np

In [3]:
from pandasql import sqldf

## Operations on the Dataframe

In [4]:
df=pd.read_excel("dfemlakjet1.xlsx")
df.head()

,Unnamed: 0,İlan Başlığı,Semt,Mahalle,Tür,Oda Sayısı,Binanın Yaşı,Binanın Kat Sayısı,Bulunduğu Kat,Brüt Metrekare,Banyo Sayısı,Wc Sayısı,Site İçerisinde,Isıtma Tipi,Fiyat
0,0,"Unique Layout, Bright & Stylish Apartment For...",Beylikdüzü,Cumhuriyet Mahallesi,Konut,2+1,5-10,4,Yüksek Bodrum,90,2,1,0,MerkeziDoğalgaz,195000
1,1,"Yeni Binada Ara Kat, Sıfır, e5 in Yanıbaşında...",Avcılar,Gümüşpala Mahallesi,Konut,3+1,0,4,3. Kat,140,2,1,0,KombiDoğalgaz,965000
2,2,KUYUMCUKENT VİZYON PARK BİT PAZARINA YAKIN SA...,Bahçelievler,Çobançeşme Mahallesi,Konut,2+1,11-20,4,3. Kat,95,1,2,0,KombiDoğalgaz,575000
3,3,Taşdelen Merkezde Muhteşem Manzaralı 4+2 İskan...,Çekmeköy,Taşdelen Mahallesi,Konut,4+2,4,7,Çatı Dubleks,180,2,3,0,KombiDoğalgaz,1600000
4,4,Esenyurt Regnum Astrum Towers 'da 1+1 Satıl...,Esenyurt,Akevler Mahallesi,Konut,1+1,5-10,40,30. Kat,90,1,1,1,Merkezi(PayÖlçer),580000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1470 non-null   int64
 1   İlan Başlığı        1470 non-null   object
 2   Semt                1470 non-null   object
 3   Mahalle             1470 non-null   object
 4   Tür                 1470 non-null   object
 5   Oda Sayısı          1470 non-null   object
 6   Binanın Yaşı        1470 non-null   object
 7   Binanın Kat Sayısı  1470 non-null   int64
 8   Bulunduğu Kat       1470 non-null   object
 9   Brüt Metrekare      1470 non-null   int64
 10  Banyo Sayısı        1470 non-null   int64
 11  Wc Sayısı           1470 non-null   int64
 12  Site İçerisinde     1470 non-null   int64
 13  Isıtma Tipi         1470 non-null   object
 14  Fiyat               1470 non-null   int64
dtypes: int64(7), object(8)
memory usage: 172.4+ KB

In [6]:
print(df.duplicated().sum())

0

In [5]:
df.describe()

,Unnamed: 0,Binanın Kat Sayısı,Brüt Metrekare,Banyo Sayısı,Wc Sayısı,Site İçerisinde,Fiyat
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1.470000e+03
mean,734.500000,7.788435,148.066667,1.396599,1.177551,0.057143,1.402107e+06
std,424.496761,32.262044,360.599750,0.699987,0.474438,0.232194,7.834657e+06
min,0.000000,1.000000,11.000000,0.000000,0.000000,0.000000,2.700000e+04
25%,367.250000,4.000000,90.000000,1.000000,1.000000,0.000000,3.500000e+05
50%,734.500000,5.000000,110.000000,1.000000,1.000000,0.000000,5.500000e+05
75%,1101.750000,7.000000,140.000000,2.000000,1.000000,0.000000,8.950000e+05
max,1469.000000,1225.000000,10000.000000,6.000000,5.000000,1.000000,2.523227e+08

In [7]:
df["Semt"].value_counts()

Esenyurt                        186
Beylikdüzü                      131
Bahçelievler                    118
Küçükçekmece                     86
Sancaktepe                       66
Kadıköy                          64
Pendik                           56
Çekmeköy                         53
Ümraniye                         47
Başakşehir                       46
Avcılar                          44
Maltepe                          41
Eyüpsultan                       40
Sultangazi                       40
Kartal                           37
Kağıthane                        33
Fatih                            32
Üsküdar                          32
Gaziosmanpaşa                    31
Şişli                            28
Büyükçekmece                     25
Bakırköy                         24
Sarıyer                          23
Beşiktaş                         22
Sultanbeyli                      21
Güngören                         21
Bağcılar                         18
Bayrampaşa                       15
Arnavutköy                       15
Tuzla                            14
Ataşehir                         12
Silivri                          10
Esenler                           9
Beyoğlu                           6
Zeytinburnu                       6
Çatalca                           4
Beykoz                            4
Ataşehir Satılık Bina             3
Fatih Satılık Bina                3
Üsküdar Satılık Yalı Dairesi      1
Şile                              1
Beykoz Satılık Köşk               1
Küçükçekmece Satılık Bina         1
Name: Semt, dtype: int64

In [8]:
df["Wc Sayısı"].value_counts()

1    1210
2     219
3      18
0      16
4       6
5       1
Name: Wc Sayısı, dtype: int64

In [9]:
query=""" select * from df where Semt like"%Satılık Bina%" or Semt like"%Satılık Yalı%" or Semt like"%Satılık Köşk%"  """
drop_rows=sqldf(query)
drop_rows

,Unnamed: 0,İlan Başlığı,Semt,Mahalle,Tür,Oda Sayısı,Binanın Yaşı,Binanın Kat Sayısı,Bulunduğu Kat,Brüt Metrekare,Banyo Sayısı,Wc Sayısı,Site İçerisinde,Isıtma Tipi,Fiyat
0,33,HORHORDA SATILIK VATANDAŞLIĞA UYGUN YÜKSEK KİR...,Fatih Satılık Bina,İskenderpaşa Mahallesi Satılık Bina,Konut,8+ Oda,4,6,Düz Giriş,271,0,1,0,KombiDoğalgaz,2000000
1,108,İSTANBUL FATİH EMİNÖNÜ HOBYAR MH. BANKALAR CA...,Fatih Satılık Bina,Hobyar Mahallesi Satılık Bina,Konut,8+ Oda,20,3,Müstakil,2400,6,1,0,KatKaloriferi,101003600
2,250,ÇENGELKÖY'DE SATILIK PANORAMİK MANZARALI YALI ...,Üsküdar Satılık Yalı Dairesi,Çengelköy Mahallesi Satılık Yalı Dairesi,Konut,3+1,20,4,3. Kat,150,3,1,0,KombiDoğalgaz,33000000
3,358,Merkezde Ticari İmarlı Satılık Bina,Ataşehir Satılık Bina,Küçükbakkalköy Mahallesi Satılık Bina,Konut,2+1,11-20,2,Kot 2 (-2). Kat,160,0,1,0,KombiDoğalgaz,3850000
4,698,İstanbul satılık köşk,Beykoz Satılık Köşk,Paşabahçe Mahallesi Satılık Köşk,Konut,8+ Oda,20,2,Bahçe Dublex,420,2,1,0,KombiDoğalgaz,16000000
5,715,Sahibinden CUMHURİYET MAH MERKEZ MÜSTAKİL BİNA,Küçükçekmece Satılık Bina,Cumhuriyet Mahallesi Satılık Bina,Konut,3+1,20,4,Müstakil,668,4,4,0,KombiDoğalgaz,1750000
6,1221,Ataşehir İlçesi Barbaros Mah Satılık Bina,Ataşehir Satılık Bina,Barbaros Mahallesi Satılık Bina,Konut,2+1,20,3,Müstakil,1000,1,1,0,KombiDoğalgaz,10000000
7,1420,Sahibinden SAHİBİNDEN SATILIK 5 KATLI BİNA,Fatih Satılık Bina,Cibali Mahallesi Satılık Bina,Konut,3+1,20,5,Müstakil,1030,2,2,0,KombiDoğalgaz,14000000
8,1463,ATAŞEHİR ATATÜRK MAH.İŞ MERK.YOĞUN OLDUĞU BÖLG...,Ataşehir Satılık Bina,Atatürk Mahallesi Satılık Bina,Konut,8+ Oda,11-20,5,Düz Giriş,213,0,1,0,KombiDoğalgaz,4200000

In [10]:
df2=pd.concat([df,drop_rows]).drop_duplicates(keep=False)
df2.drop(columns=["Unnamed: 0"], axis=1, inplace=True)

In [11]:
df2=df2.dropna()
df2['index']=np.arange(len(df2))
df2=df2.set_index("index")
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 1460
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   İlan Başlığı        1461 non-null   object
 1   Semt                1461 non-null   object
 2   Mahalle             1461 non-null   object
 3   Tür                 1461 non-null   object
 4   Oda Sayısı          1461 non-null   object
 5   Binanın Yaşı        1461 non-null   object
 6   Binanın Kat Sayısı  1461 non-null   int64
 7   Bulunduğu Kat       1461 non-null   object
 8   Brüt Metrekare      1461 non-null   int64
 9   Banyo Sayısı        1461 non-null   int64
 10  Wc Sayısı           1461 non-null   int64
 11  Site İçerisinde     1461 non-null   int64
 12  Isıtma Tipi         1461 non-null   object
 13  Fiyat               1461 non-null   int64
dtypes: int64(6), object(8)
memory usage: 171.2+ KB

In [12]:
df2["Wc Sayısı"].isnull().sum()

0

In [13]:
df2["Semt"].value_counts()

Esenyurt         186
Beylikdüzü       131
Bahçelievler     118
Küçükçekmece      86
Sancaktepe        66
Kadıköy           64
Pendik            56
Çekmeköy          53
Ümraniye          47
Başakşehir        46
Avcılar           44
Maltepe           41
Eyüpsultan        40
Sultangazi        40
Kartal            37
Kağıthane         33
Fatih             32
Üsküdar           32
Gaziosmanpaşa     31
Şişli             28
Büyükçekmece      25
Bakırköy          24
Sarıyer           23
Beşiktaş          22
Sultanbeyli       21
Güngören          21
Bağcılar          18
Bayrampaşa        15
Arnavutköy        15
Tuzla             14
Ataşehir          12
Silivri           10
Esenler            9
Beyoğlu            6
Zeytinburnu        6
Çatalca            4
Beykoz             4
Şile               1
Name: Semt, dtype: int64

In [14]:
df2["Wc Sayısı"].value_counts()

1    1203
2     218
3      18
0      16
4       5
5       1
Name: Wc Sayısı, dtype: int64

In [15]:
df2["Binanın Kat Sayısı"] = df2['Binanın Kat Sayısı'].astype('int64')
df2["Banyo Sayısı"] = df2['Banyo Sayısı'].astype('int64')
df2["Fiyat"] = df2['Fiyat'].astype('int64')
df2["Brüt Metrekare"] = df2['Brüt Metrekare'].astype('int64')

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 1460
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   İlan Başlığı        1461 non-null   object
 1   Semt                1461 non-null   object
 2   Mahalle             1461 non-null   object
 3   Tür                 1461 non-null   object
 4   Oda Sayısı          1461 non-null   object
 5   Binanın Yaşı        1461 non-null   object
 6   Binanın Kat Sayısı  1461 non-null   int64
 7   Bulunduğu Kat       1461 non-null   object
 8   Brüt Metrekare      1461 non-null   int64
 9   Banyo Sayısı        1461 non-null   int64
 10  Wc Sayısı           1461 non-null   int64
 11  Site İçerisinde     1461 non-null   int64
 12  Isıtma Tipi         1461 non-null   object
 13  Fiyat               1461 non-null   int64
dtypes: int64(6), object(8)
memory usage: 171.2+ KB

## Operations on Rows

In [17]:
df2["Banyo Sayısı"].value_counts()

1    991
2    400
3     41
4     18
5      5
6      4
0      2
Name: Banyo Sayısı, dtype: int64

In [18]:
df2.loc[df2["Banyo Sayısı"] == "Yok","Banyo Sayısı"] = 0
df2.loc[df2["Banyo Sayısı"]== "1", "Banyo Sayısı"] = 1
df2.loc[df2["Banyo Sayısı"] == "2", "Banyo Sayısı"] = 2
df2.loc[df2["Banyo Sayısı"] == "3", "Banyo Sayısı"] = 3
df2.loc[df2["Banyo Sayısı"] == "4", "Banyo Sayısı"] = 4
df2.loc[df2["Banyo Sayısı"] == "5", "Banyo Sayısı"] = 5
df2.loc[df2["Banyo Sayısı"] == "6", "Banyo Sayısı"] = 6

In [19]:
df2["Bulunduğu Kat"].value_counts()

2. Kat             248
3. Kat             199
1. Kat             167
4. Kat             134
Yüksek Giriş       118
Bahçe Katı         110
5. Kat             101
Düz Giriş           66
6. Kat              49
Çatı Dubleks        44
7. Kat              30
8. Kat              29
Villa Tipi          15
14. Kat             14
11. Kat             14
12. Kat             13
10. Kat             12
Kot 1 (-1). Kat     10
9. Kat              10
Kot 2 (-2). Kat      9
Müstakil             9
16. Kat              8
Çatı Katı            8
Bahçe Dublex         7
Yarı Bodrum          5
13. Kat              4
Yüksek Bodrum        4
15. Kat              4
20. Kat              3
18. Kat              2
17. Kat              2
30. Kat              2
10-20. Kat           2
25. Kat              1
Kot 3 (-3). Kat      1
22. Kat              1
21. Kat              1
24. Kat              1
29. Kat              1
30-40. Kat           1
35. Kat              1
19. Kat              1
Name: Bulunduğu Kat, dtype: int64

In [20]:
df2.loc[df2["Bulunduğu Kat"] == "Yüksek Giriş", "Bulunduğu Kat"] = "Giriş"
df2.loc[df2["Bulunduğu Kat"] == "Düz Giriş", "Bulunduğu Kat"] = "Giriş"

In [21]:
df2.loc[df2["Bulunduğu Kat"] == "Yüksek Bodrum","Bulunduğu Kat"] = "Bodrum"
df2.loc[df2["Bulunduğu Kat"] == "Tam Bodrum", "Bulunduğu Kat"] = "Bodrum"
df2.loc[df2["Bulunduğu Kat"]== "Yarı Bodrum", "Bulunduğu Kat"] = "Bodrum"

In [22]:
df2.loc[df2["Bulunduğu Kat"] == "10. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "11. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "12. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "13. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "14. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "15. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "16. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "17. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "18. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "19. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "20. Kat", "Bulunduğu Kat"] = "10-20"
df2.loc[df2["Bulunduğu Kat"] == "10-20. Kat", "Bulunduğu Kat"] = "10-20"

In [23]:
df2.loc[df2["Bulunduğu Kat"] == "21. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "22. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "23. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "24. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "25. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "26. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "27. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "28. Kat", "Bulunduğu Kat"] = "21-29"
df2.loc[df2["Bulunduğu Kat"] == "29. Kat", "Bulunduğu Kat"] = "21-29"

In [24]:
df2.loc[df2["Bulunduğu Kat"] == "Kot 1 (-1). Kat" , "Bulunduğu Kat"] = "-1" 
df2.loc[df2["Bulunduğu Kat"] == "Kot 2 (-2). Kat" , "Bulunduğu Kat"] = "-2" 
df2.loc[df2["Bulunduğu Kat"] == "Kot 3 (-3). Kat" , "Bulunduğu Kat"] = "-3"

In [25]:
df2.loc[df2["Bulunduğu Kat"] == "29. Kat", "Bulunduğu Kat"] = "30-40"
df2.loc[df2["Bulunduğu Kat"] == "30-40. Kat", "Bulunduğu Kat"] = "30-40"
df2.loc[df2["Bulunduğu Kat"] == "31. Kat", "Bulunduğu Kat"] = "30-40"

In [26]:
df2["Bulunduğu Kat"].value_counts()

2. Kat          248
3. Kat          199
Giriş           184
1. Kat          167
4. Kat          134
Bahçe Katı      110
5. Kat          101
10-20            79
6. Kat           49
Çatı Dubleks     44
7. Kat           30
8. Kat           29
Villa Tipi       15
-1               10
9. Kat           10
Bodrum            9
-2                9
Müstakil          9
Çatı Katı         8
Bahçe Dublex      7
21-29             5
30. Kat           2
-3                1
30-40             1
35. Kat           1
Name: Bulunduğu Kat, dtype: int64

In [27]:
df2.to_excel("dfemlakjet_son1.xlsx")
df2.to_csv("dfemlakjet_son1.csv")